/* VARIÁVEIS */
:root {
    --txtBrancoMenu: #757679;
    --txtBranco : #a3a5a8;
    --bgGeral: #1a1a1a;
    --bgFooter: #222;
}


/* BACKGROUND */
.sb-nav-fixed .sb-topnav.navbar,
#layoutSidenav .sb-sidenav {
    background-color: var(--bgGeral) !important;
}
.sb-sidenav .sb-sidenav-footer {
    background-color: var(--bgFooter) !important;
}


/* TEXTO */
#layoutSidenav_nav .sb-sidenav-menu-heading {
    color: var(--txtBrancoMenu);
}
#layoutSidenav_nav .nav-link,
#layoutSidenav_nav .sb-nav-link-icon,
.sb-sidenav-footer .usuario {
    color: var(--txtBranco);
}


/* GERAL */
.sb-topnav .navbar-brand {
    margin-right: 38px;
}

.sb-sidenav-footer .navbar-nav .dropdown-menu {
    inset: -95px -15px auto auto !important;
}


/* HOME */
.conteudo .info {
    position: relative;

    margin: 10px 15px;
    padding: 10px;

    width: 20%;
    min-width: 260px;

    transition: .2s ease;
    border: 1px solid #CECACA;
    border-bottom: 12px solid #162938;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .14);
}
.conteudo .info h3 {
    color: #222;
    font-size: 30px;
    font-weight: 600;
    line-height: 54px;
}
.conteudo .info span {
    color: #222;
    font-size: 22px;
    font-weight: 400;
}


/* ------ MEDIA ------ */
@media (max-width:799px) {

    /* ---- HOME ---- */
    .conteudo .info {
        margin: 18px;
        width: 40%;
    }
}

@media (max-width:477px) {

}