@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');


/* ------ GERAL ------ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

body {
    width: 100%;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}
h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}
h4 {
    font-size: 20px;
    color: #222;
}
h6 {
    font-weight: 700;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #456B52;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}
.section-m1 {
    margin: 40px 0;
}

button.normal {
    color: #000;
    font-size: 14px;
    font-weight: 600;

    padding: 15px 30px;
    cursor: pointer;
    
    outline: none;
    border: none;

    transition: .2s;
    border-radius: 4px;
    background-color: #fff;
}
button.white {
    color: #fff;
    font-size: 13px;
    font-weight: 600;

    padding: 11px 18px;
    cursor: pointer;

    outline: none;
    transition: .2s;
    border: 1px solid #fff;
    background-color: transparent;
}


/* ------ CABEÇALHO ------ */
#header {
    padding: 20px 80px;
    z-index: 999;
    left: 0;
    top: 0;

    background-color: #E3E6F3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}

.logo {
    max-width: 10em;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
#navbar li {
    position: relative;
    list-style: none;
    padding: 0 20px;
}
#navbar li a {
    font-size: 16px;
    font-weight: 600;
    color: #1A1A1A;
    text-decoration: none;
}
#navbar .fa {
    font-size: 24px;
}
#navbar li a:hover,
#navbar li a.ativo {
    color: #B79130;
    transition: .3s ease;
}
#navbar li a.ativo::after {
    position: absolute;
    content: "";

    width: 30%;
    height: 2px;

    left: 20px;
    bottom: -4px;

    background-color: #B79130;
}

#fechar {
    display: none;
    align-items: center;
}

#celular {
    display: none;
    align-items: center;
}


/* ------ BANNER CABEÇALHO ------ */
#header-banner {
    display: flex;
    flex-direction: column;

    justify-content: center;
    text-align: center;

    padding: 14px;
    height: 40vh;
    width: 100%;

    background-size: cover;
}
#header-banner h2 {
    color: #FFF;
    font-size: 46px;
    font-weight: 700;
    line-height: 54px;
}

#header-banner p {
    color: #FFF;
    font-size: 16px;
    margin: 15px 0 0;
}


/* ------ RODAPÉ ------ */
#jornal {
    background-color: #041E42;
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-image: url("/assets/img/banners/b7.png");
}
#jornal h4 {
    color: #fff;
    font-size: 22px;
    font-weight: 700;
}
#jornal p {
    color: #818EA0;
    font-size: 14px;
    font-weight: 600;
}
#jornal p span {
    color: #FFBD27;
}
#jornal .form {
    width: 40%;
}
#jornal input {
    font-size: 14px;
    
    width: 100%;
    height: 3.125rem;
    padding: 0 .5em;

    outline: none;
    border-radius: 4px;
    border: 1px solid transparent;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#jornal button {
    color: #fff;
    max-height: 3.56em;
    white-space: nowrap;
    
    background-color: #088178;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

#footer {
    padding-bottom: 20px;
}
#footer h4 {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 20px;
}
#footer p {
    font-size: 13px;
    font-weight: 500;
    margin: 0 0 8px 0;
}
#footer a {
    color: #222;
    font-size: 13px;
    margin-bottom: 10px;
    text-decoration: none;
}
#footer .col{
    margin-bottom: 20px;
}
#footer .logo {
    max-width: 200px;
    margin-bottom: 30px;
}
#footer .pagamentos img {
    max-width: 50px;
}
#footer .siga {
    margin-top: 30px;
}
#footer .siga i {
    color: #222;
    cursor: pointer;
    padding-right: 4px;
    font-size: 30px;
}
#footer .siga i:hover,
#footer a:hover {
    color: #B79130;
}
#footer .copyright {
    margin-top: 30px;
    text-align: center;
}


/* ------ ERROR 404 ------ */
#erro {
    margin: 40px 0;
}

#erro .container {
    width: 800px;
    height: 500px;

    padding: 20px;

    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
}
#erro .container h1 {
    color: #B79130;
    font-size: 18vh;
    font-weight: 700;
    margin: 25px 0 10px 0;
}
#erro .container h4 {
    font-weight: 700;
    font-size: 2em;
    color: #1A1A1A;
    
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
}
#erro .container p {
    color: #1A1A1A;
    font-size: 1.2em;
    
    text-align: center;
    padding: 0 70px 0 70px;
}
#erro .container span {
    font-weight: 600;
}

#erro .container .btn {
    display: flex;
    margin: 25px 0;
    align-items: center;
}
#erro .container .btn a {
    display: inline-block;
    color: #B79130;
    font-weight: 500;

    text-transform: uppercase;
    text-decoration: none;

    margin: 0 10px;
    padding: 10px 25px;

    border-radius: 25px;
    border: 2px solid #B79130;
    transition: all .3s ease;
}
#erro .container .btn a:hover {
    color: #FFF;
    background: #B79130;
}


/* ------ HOME ------ */
#hero {
    height: 90vh;
    padding: 0 80px;

    background-image: url("/assets/img/banners/hero1.png");
    background-size: cover;
    background-position: top 25% right 0;
}
#hero h1 {
    color: #B79130;
    font-weight: bold;
}
#hero h2 {
    font-weight: bold;
}
#hero h4 {
    padding-bottom: 15px;
}
#hero button {
    color: #B79130;
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;

    border: 0;
    padding: 14px 60px 14px 65px;
    
    background-repeat: no-repeat;
    background-color: transparent;
    background-image: url("/assets/img/botoes/botao1.png");
}

#qualidades .fe-box {
    text-align: center;
    width: 250px;

    margin: 15px;
    padding: 25px 15px;

    border-radius: 4px;
    border: 1px solid #CCE7D0;
    box-shadow: 20px 20px 34px rgba(0, 0, 0, .03);
}
#qualidades .fe-box:hover {
    box-shadow: 10px 10px 54px rgba(70, 62, 221, .1);
}
#qualidades .fe-box img {
    width: 100%;
    margin-bottom: 15px;
}
#qualidades .fe-box h6 {
    display: inline-block;
    color: #088178;
    font-size: 16px;

    font-weight: 650;
    line-height: 1;

    border-radius: 4px;
    padding: 9px 8px 6px 8px;
    background-color: #FDDDE4;
}
#qualidades .fe-box:nth-child(2) h6 {
    background-color: #CDEBBC;
}
#qualidades .fe-box:nth-child(3) h6 {
    background-color: #D1E8F2;
}
#qualidades .fe-box:nth-child(4) h6 {
    background-color: #CDD4F8;
}
#qualidades .fe-box:nth-child(5) h6 {
    background-color: #F6DBF6;
}
#qualidades .fe-box:nth-child(6) h6 {
    background-color: #FFF2E5;
}

#produtos h2 {
    color: #222;
    font-size: 46px;
    font-weight: 700;  
    line-height: 54px;
}
#produtos p {
    font-size: 18px;
    color: #222;
    margin: 15px 0 20px 0;
}
#produtos .pro-container {
    padding-top: 20px;
    justify-content: space-between;
}
#produtos .pro {
    position: relative;
    cursor: pointer;

    padding: 10px 12px;
    margin: 15px 0;

    width: 23%;
    min-width: 250px;

    border-radius: 25px;
    transition: .2s ease;
    border: 1px solid #CCE7D0;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .02);
}
#produtos .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, .06);
}
#produtos .pro img {
    width: 100%;
    border-radius: 20px;
}
#produtos .pro .des {
    text-align: start;
    pad: 10px 0;
}
#produtos .pro .des span {
    color: #606063;
    font-size: 12px;
}
#produtos .pro .des h5{
    color: #1A1A1A;
    font-size: 14px;
    padding-top: 7px;
}
#produtos .pro .des i {
    font-size: 12px;
}
#produtos .pro .des h4 {
    color: #B79130;
    font-size: 15px;
    font-weight: 700;
    padding-top: 7px;
}
#produtos .pro .cart {
    position: absolute;
    color: #088178;

    font-weight: 500;
    line-height: 40px;

    width: 40px;
    height: 40px;

    bottom: 20px;
    right: 10px;

    border-radius: 50px;
    border: 1px solid #CCE7D0;
    background-color: #E8F6EA;
}
#produtos .pro .fav {
    position: absolute;
    color: #088178;
    font-size: 20px;

    font-weight: 500;
    line-height: 40px;
    
    width: 25px;
    height: 25px;

    top: 20px;
    right: 20px;
}

#banner {
    width: 100%;
    height: 40vh;
    
    background-size: cover;
    background-position: center;
    background-image: url("/assets/img/banners/b1.jpg");
}
#banner h2 {
    font-size: 30px;
    padding: 10px 0;
    color: #fff;
}
#banner h2 span {
    color: #EF3636;
}
#banner h4 {
    font-size: 16px;
    color: #fff;
}
#banner button:hover {
    background: #B79130;
    color: #fff;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}
#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}
#sm-banner span {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    padding-bottom: 15px;
}
#sm-banner .banner-box {
    padding: 30px;

    height: 50vh;
    min-width: 630px;

    background-size: cover;
    background-position: center;
    background-image: url("/assets/img/banners/b2.jpg");
}
#sm-banner .banner-box2 {
    background-image: url("/assets/img/banners/b3.jpg");
}
#sm-banner .banner-box:hover button {
    background: #088178;
    border: 1px solid #088178;
}

#banner3 {
    padding: 0 80px;
}
#banner3 h2 {
    color: #fff;
    font-size: 22px;
    font-weight: 900;
}
#banner3 h4 {
    color: #EC544E;
    font-size: 15px;
    font-weight: 800;
}
#banner3 .banner-box {
    margin-bottom: 20px;
    padding: 20px;

    height: 30vh;
    min-width: 30%;

    background-size: cover;
    background-position: center;
    background-image: url("/assets/img/banners/b4.jpg");
}
#banner3 .banner-box2 {
    background-image: url("/assets/img/banners/b5.jpg");
}
#banner3 .banner-box3 {
    background-image: url("/assets/img/banners/b6.jpg");
}


/* ------ LOJA ------ */


/* ------ SOBRE ------ */


/* ------ CONTATO ------ */
#header-banner.contato-banner {
    background-image: url("/assets/img/banners/b8.png");
}


/* ------ LOGAR/CADASTRAR ------ */
#login .container {
    width: 500px;
    height: 430px;

    /* overflow: hidden; */
    border-radius: 20px;
    background: transparent;

    transition: height .2s ease;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    border: 2px solid rgba(255, 255, 255, .5);
}
#login .container.ativo {
    height: 520px;
}
#login .container.ativo .form-box.logar {
    transition: none;
    transform: translateX(-500px);
}

#login .form-box {
    width: 100%;
    padding: 40px;
}
#login .form-box h2 {
    font-weight: 700;
    font-size: 34px;
    color: #162938;

    margin-top: 30px;
    text-align: center;
}
#login .form-box.logar {
    /* display: none; */
}
#login .form-box.registrar {
    position: absolute;
    transform: translateX(500px);
}

#login .fa-xmark {
    position: absolute;
    font-size: 24px;
    color: #FFF;

    display: flex;
    justify-content: center;
    align-items: center;

    top: 0;
    right: 0;
    z-index: 1;

    width: 45px;
    height: 45px;

    cursor: pointer;
    background: #162938;
    border-bottom-left-radius: 20px;
}

#login .input-box {
    margin: 30px 0;
    /* padding: 0; */

    width: 100%;
    height: 50px;

    position: relative;
    border-bottom: 2px solid #162938;
}
#login .input-box label {
    position: absolute;
    color: #162938;
    font-weight: 500;
    font-size: 1em;

    top: 50%;
    left: 0;

    transition: .5s;
    pointer-events: none;
    transform: translateY(-50%);
}
#login .input-box input:focus~label,
#login .input-box input:valid~label {
    top: -5px;
}
#login .input-box input {
    color: #162938;
    font-weight: 600;
    font-size: 1em;

    padding-right: 35px;
    width: 100%;
    height: 100%;

    border: none;
    outline: none;
    background: transparent;
}
#login .input-box i {
    position: absolute;
    font-size: 1.2em;
    color: #162938;

    right: 8px;
    line-height: 40px;
}

#login .esqueci-senha {
    display: flex;
    justify-content: space-between;

    color: #162938;
    font-weight: 500;
    font-size: 14px;

    margin: -10px 0px 40px;
}
#login .esqueci-senha label input {
    accent-color: #162938;
    margin-right: 10px;
}
#login .esqueci-senha a {
    color: #162938;
    text-decoration: none;
}
#login .esqueci-senha a:hover {
    text-decoration: underline;
}

#login .termos {
    text-align: start;
}
#login .termos p {
    color: #162938;
    font-size: 12px;
    font-weight: 500;
    margin: -15px 0px 15px;
}
#login .termos a {
    text-decoration: none;
    font-weight: 700;
    color: #162938;
}
#login .termos a:hover {
    text-decoration: underline;
}

#login .btn {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    
    width: 100%;
    height: 45px;
    
    border: none;
    outline: none;
    
    cursor: pointer;
    border-radius: 6px;
    background: #162938;
}

#login .logar-registrar {
    color: #162938;
    font-weight: 500;
    font-size: 14px;

    margin-top: 25px;
    text-align: center;
}
#login .logar-registrar a {
    color: #162938;
    font-weight: 600;
    text-decoration: none;
}
#login .logar-registrar a:hover {
    text-decoration: underline;
}


/* ------ MEDIA ------ */
@media (max-width:799px) {

    /* ---- GERAL ---- */
    .section-p1 {
        padding: 40px 40px;
    }


    /* ---- CABEÇALHO ---- */
    #navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;

        position: fixed;
        right: -3000px;
        top: 0;

        height: 100vh;
        width: 300px;
        padding: 80px 0 0 10px;

        transition: .3s;
        background-color: #E3E6F3;
        box-shadow: 0 40px 60px rgba(0, 0, 0, .1);
    }
    #navbar.ativo {
        right: 0px;
    }
    #navbar li {
        margin-bottom: 25px;
    }

    #celular {
        display: flex;
        align-items: center;
    }
    #celular i {
        color: #1A1A1A;
        font-size: 24px;
        padding-left: 20px;
    }

    #fechar {
        display: initial;
        position: absolute;

        font-size: 24px;
        color: #222;
        
        top: 30px;
        left: 30px;
    }

    #li-usuario {
        display: none;
    }


    /* ---- RODAPÉ ---- */
    #jornal .form {
        width: 70%;
    }


    /* ---- HOME ---- */
    #hero {
        height: 70vh;
        padding: 0 80px;
        background-position: top 30% right 30%;
    }

    #qualidades {
        justify-content: center;
    }
    #qualidades .fe-box {
        margin: 15px 15px;
    }

    #produtos .pro-container {
        justify-content: center;
    }
    #produtos .pro {
        margin: 15px;
    }

    #banner {
        height: 20vh;
    }

    #sm-banner .banner-box {
        min-width: 100%;
        height: 30vh;
        justify-content: space-between;
    }
    #sm-banner .banner-box2 {
        margin-top: 40px;
    }

    #banner3 {
        padding: 0 40px;
    }
    #banner3 .banner-box {
        width: 28%;
    }
    

    /* ---- LOJA ---- */


    /* ---- SOBRE ---- */


    /* ---- CONTATO ---- */


    /* ---- LOGIN/CADASTRAR ---- */

    
}

@media (max-width:477px) {

    /* ---- GERAL ---- */
    h1 {
        font-size: 38px;
    }
    h2 {
        font-size: 32px;
    }

    .section-p1 {
        padding: 20px
    }


    /* ---- CABEÇALHO ---- */
    #header {
        padding: 10px 30px;
    }

    #navbar {
        max-width: 200px;
    }


    /* ---- BANNER-CABEÇALHO ---- */


    /* ---- RODAPÉ ---- */
    #jornal {
        padding: 40px 20px;
    }
    #jornal .form {
        width: 100%;
    }
    #jornal input {
        padding: 0 .25em;
    }

    #footer .top {
        padding-right: 20px;

    }
    #footer .logo {
        width: 100%;
    }
    #footer .pad {
        margin-top: 20px;
    }
    #footer .copyright {
        text-align: start;
        margin-top: 10px;
    }


    /* ---- ERROR 404 ---- */
    #erro .container {
        height: 430px;
        padding: 0px;
    }
    #erro .container h1 {
        font-size: 64px;
        margin: 25px 0 10px 0;
    }
    #erro .container h4 {
        font-size: 24px;
        margin-bottom: 20px;
    }
    #erro .container p {
        font-size: 18px;
        padding: 0 20px 0 20px;
    }
    
    #erro .container .btn {
        margin: 10px 0 25px 0;
        padding: 0;
    }
    #erro .container .btn a {
        padding: 10px 25px;
    }


    /* ---- HOME ---- */
    #hero {
        padding: 0 20px;
        background-position: 55%;
    }

    #qualidades {
        justify-content: space-between;
    }
    #qualidades .fe-box {
        width: 155px;
        margin: 0 0 15px 0
    }

    #produtos .pro-container {
        justify-content: center;
    }
    #produtos .pro {
        width: 100%;
    }

    #banner {
        height: 40vh;
    }

    #sm-banner .banner-box {
        height: 40vh;
    }
    #sm-banner .banner-box2 {
        margin-top: 20px;
    }

    #banner3 {
        padding: 0 20px;
    }
    #banner3 .banner-box {
        width: 100%;
    }


    /* ---- LOJA ---- */


    /* ---- SOBRE ---- */


    /* ---- CONTATO ---- */
    #header-banner.contato-banner h2 {
        font-size: 46px;
    }
    #header-banner.contato-banner p {
        font-size: 20px;
    }

    /* ---- LOGIN/CADASTRAR ---- */

    
}